// FONTS

$primary-font: "Nunito", sans-serif;
$secondary-font: "reklame-script", sans-serif;

//COLORS

$primary-color: #5baaa6;
$secondary-color: #c0ce3a;
$light-red: #b64141;
$dark-red: #671717;
