.homepage {
  background-image: url("../images/img-hp.png");
  background-repeat: no-repeat;
  height: calc(100vh - 87px);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 40px;
  background-position-x: -490px;
  @include breakpoint-up(lg) {
    background-position-x: 0px;
  }
  .title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    font-size: 2em;
    font-family: $secondary-font;
    color: $primary-color;
    margin-top: 50px;
    text-align: center;

    @include breakpoint-up(md) {
      font-size: 2.7em;
    }

    @include breakpoint-up(xxl) {
      margin-top: 100px;
      font-size: 58px;
    }
  }
  #author {
    margin-top: 20px;
    font-size: 1.6em;
    font-family: $secondary-font;
    color: $primary-color;
    @include breakpoint-up(md) {
      font-size: 35px;
    }
    @include breakpoint-up(xxl) {
    }
  }
  a {
    color: $primary-color;
    font-size: 36px;
    position: absolute;
    bottom: 10%;
    transition: 0.4s;
    &:hover {
      transform: translateY(20px);
    }
  }
}

.text {
  background-color: $secondary-color;
  padding: 40px;
  font-size: 18px;
  color: white;
  font-family: $primary-font;
  position: relative;
}

#homepage-text {
  width: 100%;
  @include breakpoint-up(lg) {
    padding: 100px 0 300px 0;
    margin-left: 10%;
    width: 80%;
  }
  @include breakpoint-up(xl) {
    padding: 140px 0 400px 0;
  }
  @include breakpoint-up(xxl) {
    padding: 140px 0 300px 0;
  }
  @include breakpoint-up(xxxl) {
    padding: 140px 0 400px 0;
  }
  .text {
    @include breakpoint-up(lg) {
      max-width: 60%;
    }
    p:nth-child(2) {
      margin-top: 20px;
    }
    img {
      margin-top: 50px;
      width: 100%;
      @include breakpoint-up(lg) {
        position: absolute;
        z-index: -1;
        margin: 0;
        top: 60%;
        left: 75%;
        width: 80%;
      }
      @include breakpoint-up(xxl) {
        top: 30%;
        left: 75%;
        width: 60%;
      }
    }
  }
}
